@import "../../style/themes.scss";

.loader {
  position: absolute;
  top: 50vh;
  left: calc(50vw - 50px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: loader 1.3s linear infinite;

  @include themify($themes) {
    border: 8ps solid themed("bg-color");
    border-left-color: themed("primary-color");
  }
}

@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}
