.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000080;
  z-index: 100;
}

.popup.open {
  display: block;
}

.popup--body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.popup--content {
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  border-radius: 20px;
  padding: 20px;
}

.popup--header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.popup--description {
  width: 225px;
  font-size: var(--primary-color);
  color: var(--color-text);
}

.popup--cross {
  font-size: var(--size-text);
  background: none;
  border: none;
  color: var(--color-text);
}

.popup--cross:hover {
  cursor: pointer;
}

.popup--buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.popup--order {
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: var(--size-text);
  color: var(--color-text);
}

.popup--order:hover,
.popup--close:hover {
  opacity: 0.6;
}

.popup--order {
  text-decoration: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 10px;
  padding: 25px;
  margin: 0 auto;
  max-width: 1200px;
}

.products-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  width: 265px;
  height: 400px;
  background: unset;
  border-radius: 20px;
  border: 1px solid var(--primary-color);
  position: relative;
}

.products-card:hover {
  cursor: pointer;
}

.card--img {
  width: 225px;
  height: 280px;
  border-radius: 10px;
}

.card-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

.card-name--text,
.card-name--price {
  font-size: var(--size-text);
  font-weight: bold;
}

.card-name--text {
  color: var(--color-text);
}

.card-name--price {
  color: #607025;
  text-align: end;
}

.sold {
  opacity: 0.5;
}

.sold .card-name--price {
  text-decoration: line-through;
}

.favourite-mark {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 10px;
  width: 60px;
  height: 60px;
  fill: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .products-card {
    width: 221px;
    height: 320px;
  }
  .card--img {
    width: 180px;
    height: 224px;
  }
}

@media screen and (max-width: 480px) {
}
