$size-header: 40px;
$size-header-m: 30px;
$size-header-s: 20px;
$size-sub-header: 22px;
$size-sub-header-m: 18px;
$size-sub-header-s: 16px;
$size-text: 18px;
$size-text-m: 14px;
$size-text-s: 14px;
$font: "Lora", serif;
$error-color: #f33535;
