.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px 20px;
  width: 100%;
  padding: 10px;
  background: var(--bg-header);
  background-size: cover;
  border-bottom: 2px solid var(--primary-color);
  z-index: 2;
}

.header.active {
  position: fixed;
}

.header--logo {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 50px;
}

.header--logo-text {
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: white;
  font-size: 30px;
  border-left: 1px solid white;
}

.header--navigation {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px 20px;
}

.header--link {
  color: white;
  font-size: var(--size-text);
}

.header--link.active {
  color: var(--active-link-color);
  text-decoration: none;
}

.header--link:hover {
  color: var(--active-link-color);
}

.menu-line {
  background: white;
  height: 3px;
  transform: none;
  transition: 0.2s;
}

.menu.active .menu-line:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}

.menu.active .menu-line:nth-child(2) {
  opacity: 0;
}

.menu.active .menu-line:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .header--logo-text {
    display: none;
  }

  .header--navigation {
    display: none;
  }
}
