$themes: (
  light: (
    active-link-color: #3f2414,
    color-text: black,
    primary-color: #c67100,
    bg-color: #fffbf0,
    bg-secondary-color: #ffedbd,
    footer-bg: #3f2414,
    bg-header: url(../components/header/header.png) center no-repeat,
  ),
  dark: (
    active-link-color: #f8a86a,
    color-text: #b4b4b4,
    primary-color: #f8a86a,
    bg-color: #171c20,
    footer-bg: #040000,
    bg-header: #22272b,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
