@import "../../style/themes.scss";

.form-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.comment-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.comment-box {
  padding: 20px;
  border-radius: 20px;

  @include themify($themes) {
    border: 1px solid themed("primary-color");
  }
}
